{% extends 'base.html' %}

{% block title %}
    Опрос {{ poll.pk }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="text-success"> Просмотр опроса №{{ poll.id }}</h1>
        </div>
        <div class="alert alert-success" role="alert">
            <h6>Опрос №{{ poll.id }} </h6>
            <h6>Вопрос: {{ poll.question }}</h6>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for choice in poll.choices.all %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Вариант № {{ choice.id }}
{#                                <span class="fs-6">Ответили {{ choice.answer_count }} раз</span>#}
{#                                <span class="fs-6">{{ choice.percent|floatformat:2 }} %</span>#}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ответ {{ choice.option }}</h6>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}